<form name="adminAuth" action="/admin" method="post">
  <input type="text" name="login" id="adminLogin"><br>
  <input type="password" name="password" id="adminPass"><br>
  <button>submit</button>
</form>
