<form name="adminAuth" action="/admin" method="post">
  <input type="text" name="adminLogin" id="adminLogin" placeholder="login"><br>
  <input type="password" name="adminPassword" id="adminPass" placeholder="password"><br>
  <button type="submit">submit</button>
</form>
<a href="/">На главную</a>
<script defer src="/js/admin.js"></script>
