<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ООО "Металлотранс" — Главная страница</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles/index-style.css" />
    <script defer src="js/script.js"></script>
  </head>
  <body class="page-body" id="page-body">
    <div class="background"></div>
    <header class="page-header">
      <div class="page-header__top">
        <ul class="page-header__nav-list">
          <li class="page-header__nav-item">
            <a class="page-header__nav-link" href="#about-us">О нас</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link" href="#services">Услуги</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link" href="#contact-us">Контакты</a>
          </li>
          <li class="page-header__nav-item">
            <a class="page-header__nav-link" href="">Прайс-лист</a>
          </li>
          </li>
        </ul>
        <ul class="page-header__contacts">
          <li class="page-header__contacts-item">
            <a class="page-header__contacts-link" href="#page-body">
              <img width="50"
                class="page-header__contacts-svg"
                src="img/home.svg"
                alt="Наверх"
              />
            </a>
          </li>
          <li class="page-header__contacts-item">
            <a
              class="page-header__contacts-link"
              href="mailto:ooomt77@gmail.com"
            >
              <img
                width="50"
                class="page-header__contacts-svg"
                src="img/email.svg"
                alt="Наш e-mail"
              />
            </a>
          </li>
          <li class="page-header__contacts-item">
            <a class="page-header__contacts-link" href="tel:84957730644">
              <img
                width="50"
                class="page-header__contacts-svg"
                src="img/phone.svg"
                alt="Наш телефон"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="page-header__container">
        <h1 class="page-heading">ООО "Металлотранс"</h1>
        <ul class="page-promo">
          <li class="page-promo__item">Поставка трубы</li>
          <li class="page-promo__item">Металлопрокат</li>
          <li class="page-promo__item">Сопроводительные услуги</li>
        </ul>
        <div class="page-header__header-decoration header-decoration">
          <div class="header-decoration__top"></div>
          <div class="header-decoration__middle"></div>
          <div class="header-decoration__bottom"></div>
        </div>
      </div>
    </header>
    <main>
      <section class="about-us section">
        <!--Якорь для перехода по ссылке-->
        <div class="about-us__anchor" id="about-us"></div>
        <h2 class="about-us__heading section-heading">ООО "МеталлоТранс"</h2>
        <p class="about-us__paragraph">Мы специализируемся <span class="no-wrap">на поставке </span><span class="no-wrap">новой и б/у трубы</span>, услугах по ее обработке. <span class="no-wrap">Также мы</span> предлагаем широкий ассортимент нержавеющего металлопроката и <span class="no-wrap">трубопроводной арматуры.</span></p>
        <ul class="about-us__goods-list">
          <li class="about-us__goods-item">
            <div class="about-us__goods-img about-us__goods-img--new-pipe"></div>
            <h3 class="about-us__goods-heading">Новая труба и детали трубопроводов</h3>
            <div class="about-us__paragraph-container">
              <ul class="about-us__goods-paragraph">
                <li class="about-us__goods-paragraph-item">Новая электросварная и бесшовная труба диаметром от 59 до 820 мм</li>
                <li class="about-us__goods-paragraph-item">Детали трубопроводов</li>
                <li class="about-us__goods-paragraph-item">Труба больших диаметров от 820 до 1420 мм</li>
                <li class="about-us__goods-paragraph-item">Труба некондиционная от 73 до 168 мм</li>
              </ul>
            </div>
          </li>
          <li class="about-us__goods-item">
            <div class="about-us__goods-img about-us__goods-img--used-pipe"></div>
            <h3 class="about-us__goods-heading">Труба б/у</h3>
            <div class="about-us__paragraph-container">
              <ul class="about-us__goods-paragraph">
                <li class="about-us__goods-paragraph-item">Демонтаж и продажа трубы б/у
                  от 73 до 1420 мм в диаметре</li>
              </ul>
            </div>
          </li>
          <li class="about-us__goods-item">
            <div class="about-us__goods-img about-us__goods-img--metal"></div>
            <h3 class="about-us__goods-heading">Нержавеющий металлопрокат</h3>
            <div class="about-us__paragraph-container">
              <ul class="about-us__goods-paragraph">
                <li class="about-us__goods-paragraph-item">Трубы бесшовные и электросварные спецниального азначения</li>
                <li class="about-us__goods-paragraph-item">Сортовой прокат: круг, уголок, полоса, квадрат, шестигранник</li>
                <li class="about-us__goods-paragraph-item">Детали трубопровода: загрушки, фланцы, тройники, отводы, переходы, крепёж и прочее</li>
              </ul> 
          </li>
        </ul>
      </section>
      <section class="services section">
        <div class="services__anchor" id="services"></div>
        <h2 class="services__heading section-heading">Наши услуги</h2>
        <div class="services__container">
          <div class="services__image"></div>
          <dl class="services__description-list">
            <div class="services__description-item">
              <dt class="services__description-term">Восстановление трубы б\у</dt>
              <dd class="services__description-definition">Комплексная обработка коррозии с помощью пескоструйного аппарата</dd>
            </div>
            <div class="services__description-item">
              <dt class="services__description-term">Нарезка фасок или торцевания трубы</dt>
              <dd class="services__description-definition">Для стыковки, удобства и ровных краев</dd>
            </div>
            <div class="services__description-item">
              <dt class="services__description-term">Рез в размер</dt>
              <dd class="services__description-definition">Любую трубу режем по вашим размерам и параметрам</dd>
            </div>
            <div class="services__description-item">
              <dt class="services__description-term">Изоляция новой и б/у трубы</dt>
              <dd class="services__description-definition"> Сертефицируемая ВУС (1,2,3- слойная), ЦПП, ЛИТ, ППУ изоляция</dd>
            </div>
            <div class="services__description-item">
              <dt class="services__description-term">Доставка</dt>
              <dd class="services__description-definition">Производим доставку трубы по Москве и России</dd>
            </div>
            </dl>
        </div>
      </section>
      <section class="contact-us section">
        <div class="contact-us__anchor" id="contact-us"></div>
        <h2 class="contact-us__heading section-heading">Наши контакты</h2>
       <div class="contact-us__container">
          <dl class="contact-us__list">
            <div class="contact-us__item">
              <dt class="contact-us__term">Телефон:</dt>
              <dd class="contact-us__definition"><a href="tel:84957730644">8 (495) 773-06-44</a></dd>
            </div>
            <div class="contact-us__item">
              <dt class="contact-us__term">E-mail:</dt>
              <dd class="contact-us__definition"><a href="mailto:ooomt77@gmail.com">ooomt77@gmail.com</a></dd>
            </div>
            <div class="contact-us__item">
              <dt class="contact-us__term">Юридический адрес:</dt>
              <dd class="contact-us__definition"><address>111024, г. Москва, ул. Авиамоторная, д. 55, корп.31, этаж 3, офис 3029</address></dd>
            </div>
            <div class="contact-us__item">
              <dt class="contact-us__term">Адрес склада:</dt>
              <dd class="contact-us__definition"><address> Московская область, пересечение Симферопольского шоссе и трассы А-107</address></dd>
            </div>
          </dl>
          <div class="contact-us__map">
            <iframe class="contact-us__map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.9867740254913!2d37.72686271592998!3d55.74135878055027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab5520145e2dd%3A0xedf2b2687b36d5fe!2z0YPQuy4g0JDQstC40LDQvNC-0YLQvtGA0L3QsNGPLCA1NSDQutC-0YDQv9GD0YEgMzEsINCc0L7RgdC60LLQsCwgMTExMDI0!5e0!3m2!1sru!2sru!4v1604048004849!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
       </div>
      </section>
      <footer class="afterword"> <div class="afterword__logo">ООО "МеталлоТранс"</div>
        Если вы владелец трубопровода или трубы б/у, мы будем рады сотрудничеству. Приобретаем трубы диаметром от 159 до <span class="no-wrap">1220 мм</span>. <br />
        <div class="afterword__contact-us">Подробности по тел.: <a href="tel:89299422120"> 8 (929) 942-21-20</a></div></footer>
    </main>
  </body>
</html>
