<div>
  INDEX PAGE:
</div>

<script defer src="/js/client.js"></script>

<form name="showProduct">
  <button type="click" id="show">Показать все</button>
</form>

<form name="searchProduct">
  <input type="text" placeholder="Введите имя трубы" name="name">
  <button type="submit" id="search">Искать</button>
</form>

<form name="addProduct">
  <input type="text" name="title">
  <input type="text" name="diameter">
  <input type="text" name="quality">
  <input type="text" name="price">
  <button id="addProduct">Добавить трубу</button>
</form>

<div id="result"></div>
