<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ООО "Металлотранс" — Главная страница</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&family=Play&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/index-style.css" />
    <script defer src="/js/script.js"></script>
    <script defer src="/js/tableSort.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
