body {
  background-color: rgb(175, 175, 175);
  background-image: url(https://lh3.googleusercontent.com/proxy/7ix0KxDN48IlEqBSd41FnofY-NRGEH6yW5saBlHGbhPs7caMocsNQE5QYl7PPe5wiAGzTTe23Buw9IEZCkkhXNqpiA);
}

.c1 {
  color: lemonchiffon;
  font-family: 'Jura', sans-serif;
  border-width: 3px;
  border-style: solid;
  border-color:rgb(58, 58, 58);
  border-radius: 10px;
  border-spacing: 0px;
}

.c1 td {
  text-align: center;
  padding: 5px;
  border: solid rgb(58, 58, 58) 1px;
  border-top: 0px;
}

.c2 th {
  padding: 5px 15px;
  font-size: 20px;
  background-color: rgba(169, 169, 169, 0.096);
  background-blend-mode: lighten;
    border: solid rgb(58, 58, 58) 1px;
  border-top: 0px;
}
