<div class='productsList'>
  {{#each}}
  <div id='title'>{{this.title}}</div>
  <div id='diameter'>{{this.diameter}}</div>
  <div id='quality'>{{this.quality}}</div>
  <div id='price'>{{this.price}}</div>
  {{/each}}
</div>
